# -*- mode: org -*-
* Library Examples
These are example outputs from the library.
** annulus
#+INCLUDE: "./pictures/annulus_basic.scad" src SCAD
[[pictures/annulus_basic.png]]
[[animations/annulus_spin.gif]]
[[pictures/annulus_spread.png]]
